.nav {

    font-size: .84em;
    font-weight: 700;
    list-style-type: none;
    /*padding-bottom: 1.5em;*/
    overflow: hidden;
    margin-top: -.5em;
    margin-right: 12.7em;
    /*height: 2em;*/
}

.top-nav {

    position: fixed;
    width: 100%;

}

.nav-item {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    display: inline-block;
    text-align: center;
    padding: 11.5px 12.7px;
    border-left: 1px solid darkgrey;
    border-top: none;
    border-bottom: none;
    float: right;

}

#sound-nav {
    border-right: 1px solid darkgrey;
}

.nav-link {
    text-decoration: none;
}

a:hover,
a:link {
    color: black;
}

#header-img {
    margin-top: .09em;
    margin-left: 8.8em;
    width: 5.2em;
    /*height: 8%;*/
}

.banner {
    width: 150%;
    height: 5.6em;
    margin-top: 3.5px;
    margin-left: -.8%;
    background-color: #4020C0;
    position: fixed;
}

.banner-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: whitesmoke;
    margin-top: 1.5em;
    margin-left: 4.5%;
}

#mice-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13.2%;
    width: 13.2%;
}

.sorry {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.27em;
    font-weight: bold;
    margin-top: .48em;
}

.check {
    text-align: center;
    color: #606060;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.08em;
    margin-top: .49em;

}

#search {

    padding: 7px;
    background-color: whitesmoke;
    border: 1px solid black;
    margin-top: 14px;
    margin-left: 35.5%;
    font-size: 21px;
    width: 248px;


}

#btn {
    /*float: right;*/
    width: 3%;
    padding: 10px;
    margin-top: 10px;
    background-color: whitesmoke;
    color: black;
    font-size: 19px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}