* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background-image: linear-gradient(to bottom right, red, grey);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: white;
    font-family: Verdana;
    display: inline-block;
    padding: 1em;
}
nav a:hover {
    color: blue;
    background-color: whitesmoke;
    -webkit-filter: grayscale(50%) blur(2px);
    filter: grayscale(50%) blur(1px);
    transition: .4s ease-in-out;
}

.logo {

    font-size: 1.8em;
    padding-bottom: .1em;
    margin: auto;
    flex-basis: 7em;
}

.main {
    display: flex;
}

.section {
    display: flex;
}
