* {
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(13, 110, 139, .75);
    --overlay-color: rgba(24, 39, 51, .85);
    --menu-speed: .75s;

}

body {
    display: inline-block;
    width: 100%;
}

.alert-info {
    display: flex;
    justify-content: center;
    font-size: 4vh;
    background-color: lightblue;
    padding: 2em;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 10vh;

}
/* Creating Hamburger menu with animation*/
.menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: rgba(211, 211, 211, .75);
    display: flex;
    align-items: center;
    justify-content: center;
}

 /*Hamburger line*/
.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/*  Top and Bottom lines of Hamburger*/
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/*  Move line down to position bottom line of Hamburger*/
.menu-wrap .hamburger > div:after {
    top: 10px;
}


/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/*  Turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Show menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  Engaged menu background*/
.menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200%;
    height: 200%;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: all 0.4s ease;
}

/* Menu text style*/
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: whitesmoke;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

/*.nav-links {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    list-style: none;*/
/*    padding: 2em;*/
/*    font-size: 4vh;*/
/*}*/

/*.nav-links li {*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    background-color: lightgrey;*/
/*    margin: .2em;*/
/*    padding: 2em;*/
/*}*/

.header-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main {
    display: inline-block;
    margin: 1em;
}

.sub-section {
   display: inline-block;
    margin: 1em;
    font-style: italic;
}

footer {
    margin-left: 1em;
    display: flex;
    flex-direction: row;
}


#social-media-links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

#social-media-links a {
    padding: 0 .5em 0 .5em;
}

#social-media-links a:hover {
    font-size: 2em;
    color: greenyellow;
}


/* --DESKTOP VIEW--  */

@media screen and (min-width: 600px) {
    .hidden-on-desktop {
        display: none;
        z-index: -1;
    }

   main {

       grid-template-areas:
                 "h1  nav"
                 "img img"
                 "main sub "
                 "footer footer ";

       grid-template-columns: 3fr 1fr;
       width: 90%;
       margin: auto;
   }

   h1 {
       grid-area: h1;
       display: flex;
       justify-content: flex-start;
       align-items: center;
       margin: 2em 0 2rem 2rem;
       padding: 0;
       font-size: 3rem;

   }

   /*.nav {*/
   /*    grid-area: nav;*/
   /*    display: flex;*/
   /*    margin-top: -5em;*/


   /*}*/

    /*.nav-links {*/
    /*    grid-area: nav;*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    justify-content: flex-end;*/
    /*    margin-left: auto;*/

    /*    background-color: white;*/
    /*    font-size: 1.8em;*/
    /*    padding: 0;*/


    /*}*/

    /*.nav-links li {*/
    /*    list-style-type: none;*/
    /*    background-color: white;*/
    /*    !*padding: 10px;*!*/
    /*    font-size: .5em;*/
    /*    !*margin: 0;*!*/

    /*}*/

   .header-img {
       grid-area: img;

   }

   .main {
       grid-area: main;
       margin: 1em;
   }

   .sub-section {
       grid-area: sub;
       margin: 1em;
   }

   footer {
       grid-area: footer;
       margin: 1em;
   }


}