* {
    box-sizing: border-box;
    letter-spacing: .1em;
}

.container {
    margin: 1em;
    font-family: 'Lato', sans-serif;
}

.day {
    /*margin-left: 2em;*/
    border: 1px solid grey;
    border-radius: 4px;
    background-color: lightskyblue;
}

#current {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    width: 500px;
    height: 410px;
    margin-left: 2em;
}


.current-top {
    display: grid;
    grid-template-columns: 50% 50%;
    /*width: 400px;*/

}

.weather-status {
    margin-top: -2.5em;
    margin-left: -7.8em;

}

.top-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-right {
    grid-area: 1 / 2 / 2 / 3;
   justify-content: flex-end;
    margin-top: 4em;

}

.current-temp {
    font-size: 3em;
    font-weight: bold;
}

.date {
    text-align: end;

}

img {
    width: 90px;
}

.icon-img {
    /*padding-bottom: -1em;*/
    margin-bottom: -2.5em;
    padding-left: 4em;
}

.feels-like {
    margin-bottom: -1.2em;
    padding-left: 3em;
}

.temp-range {
    margin-bottom: -1.3em;
    padding-left: 3em;
}

.current-bottom {
    margin-top: 3em;
    margin-left: 1.2em;
    padding-right: 2em;
    display: flex;
    justify-content: space-between;

}

.fa-moon {
    /*color: white;*/
    background-color: white;
    border-radius: 4px;
}

.fa-sun {
    background-color: yellow;
    border-radius: 4px;
}

.weekly-forecast {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;
    margin: 1em;

}

.each-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*align-items: center; !*NEW*!*/
    border: 1px solid grey;
    border-radius: 4px;
    background-color: lightskyblue;
    width: 235px;
    /*width: calc(100% / 5); !*NEW*!*/
    height: 250px;
    margin-bottom: 1em;
}

.each-day * {
    font-size: small;
}

#weekly {
    display: flex;
    /*align-items: center;*/
    justify-content: space-evenly;
    height:200px;

}

/*.each-day .top-left {*/
/*    display: flex;*/
/*    !*justify-content: center;*!*/

/*}*/

.weekly-temp-range {
    margin-bottom: -1.3em;
    /*padding-left: 3em;*/
}


.weekly-weather-status {
    margin-top: 1em;
    /*margin-right: -2.4em;*/
    display: flex;
    justify-content: center;
    align-items: center;

}

.weekly-icon-img {
    margin-top: 1em;
}

.map {
    margin-top: 4em;
}

#map {  /* This is how we change the size and style of the map-BUT-we must remove original style located inside of div */
    width: 100%;
    height: 400px;
}



